body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #212529;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

h4 {
    color: darkgray;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="radio"] {
    padding: 8px;
    font-size: 15px;
    margin: 5px 0 15px;
    width: calc(100% - 20px);
    border: 1px solid lightgray;
    box-sizing: border-box;
}

button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: green;
    color: white;
    transition: background-color 0.5s;
}

button:hover {
    background-color: darkgreen;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 3px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: lightgray;
}

tfoot td {
    font-weight: bold;
    background-color: lightgray;
}

caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

div {
    padding: 20px;
    border: 5px solid blue;
    margin: 20px auto;
    max-width: 800px;
}

.Return_to_main_page_btn {
    background-color: gray;
}

.Return_to_main_page_btn:hover {
    background-color: gray;
}

#Total_cargo_weight_span, #divE_Total_Cargo_Weight_cell, #divF_Total_Cargo_Weight_cell {
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: auto;
    margin: 0 10px;
}

form {
    display: flex;
    flex-direction: column;
}

span {
    color: red;
    font-size: 12px;
}